/* ====================================
// css variables + import
// ==================================== */

:root {
  --light-green: #51dc78;
  --dark-blue: #213c4c;
  --light-blue: rgba(139, 151, 241, 1);
  --dark: rgba(20, 20, 20, 1);
  --light: #f0ffee;
}

/* ====================================
// reset rules
// ==================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--dark);
  color: var(--light);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "condor", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  -webkit-user-drag: none;
}

/* ====================================
// Base Rules
// ==================================== */
