a,
button {
  cursor: pointer;
}

.burger-menu-nav {
  position: absolute;
  top: 7vh;
  right: 50px;
  width: 250px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.burger-menu {
  position: fixed;
  right: -350px;
  top: 0;
  width: 300px;
  height: 120%;
  background: var(--dark-blue);
  transition: 0.5s ease;
  z-index: 4;
  overflow: hidden;
}

.burger-menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.burger-menu-nav ul li {
  list-style-type: none;
  font-size: 40px;
}

.burger-menu-nav ul li a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: var(--light);
  text-transform: uppercase;
  font-size: 24px;
}

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 30px;
  right: 4%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 3px;
  background: var(--dark);
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

/* Animation */
.burger-menu-nav ul li a:hover {
  color: var(--light-blue);
}

.burger-menu.active {
  right: 0;
}

.hamburger.open #bar1 {
  background-color: var(--light);
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: var(--light);
  transform: rotate(-45deg) translate(6px, -5px);
}

/* background */
.burger-background {
  width: 100%;
  height: 120%;
  top: 0;
  position: fixed;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  z-index: 3;
}

.burger-background.active {
  visibility: visible;
  backdrop-filter: blur(0.8px);
  background: rgba(0, 0, 0, 0.25);
}

/* Infos */
.burger-menu-infos {
  height: 50px;
  padding-left: 60px;
}
