.menu {
  background: var(--light-green);
}

.receipe img {
  border-radius: 10px;
  width: 90%;
}

.receipe h3 {
  background: var(--dark-blue);
  padding: 9px 15px 5px;
  text-transform: uppercase;
  font-family: "nickel-gothic-variable", sans-serif;
  font-variation-settings: "wdth" 100, "slnt" 0;
  letter-spacing: 1.9px;
  max-width: 30vw;
  text-align: center;
  border-radius: 10px;
  transform: translateY(-50%);
  font-size: 19px;
}

.slider-menu {
  margin-bottom: 40px;
}

.menu .button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  margin-top: 15px;
}

.receipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .receipe-falafel {
    display: none;
    width: 100%;
  }
}
