.slider-container {
  overflow: hidden; /*Don't modify*/
  background: var(--light-green);
  margin: auto;
  padding: 20px 0 10px;
  user-select: none;
}

.slide {
  text-transform: uppercase;
  color: var(--light);
  font-size: 29px;
  font-family: "nickel-gothic-variable", sans-serif;
  font-variation-settings: "wdth" 100, "slnt" 0;
  letter-spacing: 2.9px;
  display: inline-block;
  animation: 15s slider infinite linear;
}

.slider-row {
  white-space: nowrap; /*Don't modify*/
}

/* Animation - Don't modify */
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
